html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: #ed7044;
}

h1, h3, h2, a {
	font-family: 'Overpass', sans-serif;
	padding-left: 0.2em;
	color: #fff;
	text-decoration: none;
}

h3 {
	text-align: center;
	margin: 0;
	padding-top: 0.3em;
	padding-bottom: 0.2em;
	background: #FB926D;
}

h1 {
	height: 8%;
	background: #FB926D;
  padding-top: 0.5em;
	margin: 0;
}

#map, #canvasDiv {
	height: 45%;
}

#map {
  margin-top: 0;
	padding-top: 0;
}

#canvasDiv {
	padding-bottom: 0;
	margin-bottom: 0;
}
