html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6, p, a {
	font-family: 'Overpass', sans-serif;
	color: black;
	text-decoration: none;
}
h1 {
	text-align: center;
	font-weight: bold;
}
#map {
	height: 100%;
	width: 100%;
}
#legend {
	background: #fff;
	width: 200px;
	padding: 10px;
	text-align: center;
	font-size: 150%;
}
#title {
	background: #fff;
	padding: 0px;
	height: 50px;
	width: 100%;
}
span {
	color: green;
}
#infoBox {
	width: 150px;
	text-align: center;
}
#info {
	font-size: 200%;
	font-weight: bold;
}
